.user-component{
    justify-content: space-between;
    margin-bottom:15px;
}
.user-component,
.user-component__column:first-child{
    display:flex;
    align-items: center;
}
.user-component__avatar{
    width:70px;
    height:70px;
    border-radius:30px;
    margin-right:22px;
}

.user-component__title{
    font-weight: 600;
    font-size:20px;
}

.component__subtitle{
    margin-top:8px;
    font-size:17px;
    color : rgba(0,0,0,0.5);
}
@keyframes avatarFadeIn{
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}

.user-component__avatar--xl{
    height:80px;
    width:80px;
    animation: avatarFadeIn 2s ease-in-out forwards;
    animation-delay:2s;
}
.user-component__avatar--sm{
    height:60px;
    width:60px;
    border-radius: 25px;
}

.user-component__title--not-bold{
    font-weight: 400;
}
.user-component__column:last-child{
    color:rgba(0,0,0,0.5)
}
.user-component__info{
    margin-top:5px;
    color:rgba(0,0,0,0.4);
    font-weight: 600;
}

.user-componet__notification{
    width: 27px;
    height: 27px;
    position: relative;
    top:10px;
    left:13px;
}


.user-component__info span{
    display:bolck;
    font-size:10px;
    font-weight: 1000;
    border: 2px  solid tomato;
    color:tomato;
    border-radius:90%;
   padding: 0px 4px;
    margin-left: 4px;
}